* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%
}

.line-clamp {

    display: -webkit-box;

    -webkit-line-clamp: var(--line-clamp, 1);

    -webkit-box-orient: vertical;

    overflow: hidden;
}

.body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    ;
}



/* common */
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 3);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

:root {
    --primary-color: #152427;
}

.container {
    width: 1140px;
    max-width: calc(100% - 58px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

/* header */
.header-fixed {
    background: #fff;
    position: sticky;
    top: -15px;



}

.header-top {
    display: flex;
    position: relative;
    padding: 28px 0 13px;
    align-items: center;

}

.header-top::after {
    display: flex;
    position: absolute;
    content: "";
    width: 16px;
    height: 2px;
    ;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    background: var(--Primary-color-black-green, #143C3C);
}

.header-top::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 1140px;
    height: 1px;
    background: linear-gradient(90deg, #FFF 0%, #DDDCDC 51.09%, rgba(212, 212, 212, 0.00) 99.68%);
}

.logo {
    display: flex;
    align-items: center;

}

.logo__text {
    margin-left: 7px;
}



.navbar__list {
    display: flex;

    margin-left: 387px;
}

.navbar__link {
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.8rem;
    color: #575D5E;
}


.navbar__item {
    padding: 4px 19px;
}

.navbar__link:hover,
.navbar__link--active {
    color: black;
    text-shadow: 1px 0 0 currentColor;

}


.btn__signup {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 63px;
    padding: 0;
    width: 173px;
    height: 57px;
    border-radius: 40px;
    border: 1.5px solid #143C3C;
    background: #143C3C;
    color: white;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.8rem;
}

.btn__signup:hover {
    cursor: pointer;
    opacity: 0.9;
}

/* .btn__signup::after {
    content: "";
    position: absolute;
    display: inline-block;
    margin-bottom: -13px;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, #fff 0%, #dddcdc 51.09%, rgba(212, 212, 212, 0) 99.68%);
    bottom: 0;
    left: 0;
} */

/* hero */
.hero {
    display: flex;
    justify-content: space-between;

    /* padding: 28px 15px 0 0; */
}

.hero__inner {
    display: flex;
    position: relative;
    padding-bottom: 87.69px;
}

.hero__content {
    width: 43%;
    margin-top: 103px
}


.hero__heading {
    width: 368px;
    color: var(--primary-color);
    font-family: "Public Sans";
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;
}

.hero__desc {
    width: 341px;
    margin-top: 20px;
    color: #575D5E;
    font-family: "Public Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px
}

.hero-btn {
    display: flex;
    margin-top: 42px;
    gap: 36px;
}

.hero-btn__touch {

    width: 173px;
    height: 57px;
    border-radius: 40px;
    border: none;
    background: #143C3C;
    color: var(--text-color-white, #FFF);
    text-align: center;
    font-family: "Public Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    cursor: pointer;
}

.hero-btn__touch:hover {
    opacity: 0.9;
}

.hero-active {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 15px; */
}

.hero-active__play {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #83A17D;
    width: 44px;
    height: 44px;
    border-radius: 50%;


}

.hero-active__border {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    border: 4px solid;
    border-color: #143c3c transparent transparent #143c3c;
    transform: rotate(-45deg);
    transition: 0.25s;
    cursor: pointer;
}

.hero-active__border:hover {
    transform: rotate(-45deg);
}

.hero-active__play:hover {

    background: #143c3c;
}

.hero-active__desc {

    color: var(--primary-color);
    text-align: center;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;

}

.hero__media {
    position: relative;
    width: calc(57% + 40px);
    margin-top: 60px;
    margin-right: 20px;

}

.hero__bg {
    position: absolute;
    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #4DBB9A;
    bottom: 81px;
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    filter: blur(137px);
}

.hero__images {

    position: relative;
    display: flex;
    gap: 20px;
}



.hero__img {
    width: 202px;
    height: 466px;

    object-fit: cover;
    border-radius: 110px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.hero__img-number2 {
    margin-top: 77px;
}

.vector {
    position: absolute;
}

.flower-top {
    top: 35.61px;
    left: 254.61px;
    transform: rotate(9.392deg);
    z-index: 1;
}

.vector-top {
    top: 27.93px;
    left: 297px;

}

.flower-bottom {
    bottom: 51.24px;
    right: 34.12px;
    z-index: 1;
}

.vector-bottom {
    right: 70.64px;
    bottom: 20px
}

/* brand */
.brand {
    margin-top: 42.31px;
}

.brand__inner {
    display: flex;
    align-items: center;

    width: 1140px;
    height: 201px;
    border-radius: 100.5px;
    background: var(--Scondery-color-light-green, #E2EDDF);
}

.brand-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand__icon {
    width: 33px;
    height: 33px;
    color: #143C3C
}

.lv1 {
    margin: 0 47px 0 121px;
}

.lv3 {
    margin: 0 64px 0 51px;

}

.lv4 {
    margin-right:
        63px;
}

.lv5 {
    display: flex;
    margin-right: 121px;
    ;
}

.brand__icon-lv3 {
    margin-right: 11px;
}

.brand__icon-lv5 {
    margin-right: 14px;
}

.brand__desc {
    color: var(--Primary-color-black-green, #143C3C);
    font-family: Poppins;
    font-size: 1.9rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.1995rem;
}

/* service */
.service {
    margin-top: 106px;
    padding-bottom: 8px;
}

.service-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.service-first__note {
    position: relative;
    padding-left: 46px;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.6rem;
    font-family: 'poppins'
}

.service-first__note::before {
    display: inline-block;
    content: ""
    ;
    position: absolute;
    background: var(--primary-color);
    width: 25px;
    height: 1px;
    left: 0;


}

.service-first__heading {
    position: relative;
    margin-top: 12px;
    max-width: 520px;
    color: var(--primary-color);
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 5.2rem;
    font-family: 'poppins'

}

.service-first__heading::after {
    content: "";
    position: absolute;
    display: flex;
    width: 66px;
    height: 2px;
    right: 103px;
    bottom: 19px;
    background: var(--primary-color)
}

.wrap-button {
    display: flex;
    margin-left: 73px;
    gap: 15px;
}

.wrap-button__round {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: #E2EDDF;
}

.wrap-button__round:hover {
    background: #143C3C;
    color: #fff;
}

/* .wrap-button__active {
    background: #143C3C;
    color: #fff;
} */

.service-media {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    margin-top: 76px;
}

.service-row:hover {
    border-radius: 20px;
    background: #FFF;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    transform: scale(1.04);
    transition: .25s;
}

.service__img {
    width: 370px;
    height: 318px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;

}

.service-info {
    margin: 24px 0 23px 18px;
}

.service__heading {
    color: var(--primary-color);
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.2rem;
    font-family: 'poppins'
}

.service__desc {
    max-width: 268px;
    margin-top: 18px;
    color: #7D8188;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4rem;
    font-family: 'poppins';
}