* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%
}

.line-clamp {

    display: -webkit-box;

    -webkit-line-clamp: var(--line-clamp, 1);

    -webkit-box-orient: vertical;

    overflow: hidden;
}

.body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    ;
}



/* common */
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 3);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

:root {
    --primary-color: #152427;
}

.container {
    width: 1140px;
    max-width: calc(100% - 58px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: inherit
}

.first-note {
    color: var(--primary-color);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.6rem;
    font-family: 'poppin'
}

.first-heading {
    color: var(--primary-color);
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 5.2rem;
    font-family: 'poppins'
}

/* header */
.header-fixed {
    background: #fff;
    position: sticky;
    top: -15px;
    z-index: 1;



}

.header-top {
    display: flex;
    position: relative;
    padding: 28px 0 13px;
    align-items: center;

}

.header-top::after {
    display: flex;
    position: absolute;
    content: "";
    width: 16px;
    height: 2px;
    ;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    background: var(--Primary-color-black-green, #143C3C);
}

.header-top::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 1140px;
    height: 1px;
    background: linear-gradient(90deg, #FFF 0%, #DDDCDC 51.09%, rgba(212, 212, 212, 0.00) 99.68%);
}

.logo {
    display: flex;
    align-items: center;

}

.logo__text {
    margin-left: 7px;
}



.navbar__list {
    display: flex;

    margin-left: 387px;
}

.navbar__link {
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.8rem;
    color: #575D5E;
}


.navbar__item {
    padding: 4px 19px;
}

.navbar__link:hover,
.navbar__link--active {
    color: black;
    text-shadow: 1px 0 0 currentColor;

}


.btn__signup {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 63px;
    padding: 0;
    width: 173px;
    height: 57px;
    border-radius: 40px;
    border: 1.5px solid #143C3C;
    background: #143C3C;
    color: white;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.8rem;
}

.btn__signup:hover {
    cursor: pointer;
    opacity: 0.9;
}

/* .btn__signup::after {
    content: "";
    position: absolute;
    display: inline-block;
    margin-bottom: -13px;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, #fff 0%, #dddcdc 51.09%, rgba(212, 212, 212, 0) 99.68%);
    bottom: 0;
    left: 0;
} */

/* hero */
.hero {
    display: flex;
    justify-content: space-between;

    /* padding: 28px 15px 0 0; */
}

.hero__inner {
    display: flex;
    position: relative;
    padding-bottom: 87.69px;
}

.hero__content {
    width: 43%;
    margin-top: 103px
}


.hero__heading {
    width: 368px;
    color: var(--primary-color);
    font-family: "Public Sans";
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;
}

.hero__desc {
    width: 341px;
    margin-top: 20px;
    color: #575D5E;
    font-family: "Public Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px
}

.hero-btn {
    display: flex;
    margin-top: 42px;
    gap: 36px;
}

.hero-btn__touch {

    width: 173px;
    height: 57px;
    border-radius: 40px;
    border: none;
    background: #143C3C;
    color: var(--text-color-white, #FFF);
    text-align: center;
    font-family: "Public Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    cursor: pointer;
}

.hero-btn__touch:hover {
    opacity: 0.9;
}

.hero-active {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 15px; */
}

.hero-active__play {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #83A17D;
    width: 44px;
    height: 44px;
    border-radius: 50%;


}

.hero-active__border {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    border: 4px solid;
    border-color: #143c3c transparent transparent #143c3c;
    transform: rotate(-45deg);
    transition: 0.25s;
    cursor: pointer;
}

.hero-active__border:hover {
    transform: rotate(-45deg);
}

.hero-active__play:hover {

    background: #143c3c;
}

.hero-active__desc {

    color: var(--primary-color);
    text-align: center;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;

}

.hero__media {
    position: relative;
    width: calc(57% + 40px);
    margin-top: 60px;
    margin-right: 20px;

}

.hero__bg {
    position: absolute;
    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #4DBB9A;
    bottom: 81px;
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    filter: blur(137px);
}

.hero__images {

    position: relative;
    display: flex;
    gap: 20px;
}



.hero__img {
    width: 202px;
    height: 466px;

    object-fit: cover;
    border-radius: 110px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.hero__img-number2 {
    margin-top: 77px;
}

.vector {
    position: absolute;
}

.flower-top {
    top: 35.61px;
    left: 254.61px;
    transform: rotate(9.392deg);
    z-index: 1;
}

.vector-top {
    top: 27.93px;
    left: 297px;

}

.flower-bottom {
    bottom: 51.24px;
    right: 34.12px;
    z-index: 1;
}

.vector-bottom {
    right: 70.64px;
    bottom: 20px
}

/* brand */
.brand {
    margin-top: 42.31px;
}

.brand__inner {
    display: flex;
    align-items: center;

    width: 1140px;
    height: 201px;
    border-radius: 100.5px;
    background: var(--Scondery-color-light-green, #E2EDDF);
}

.brand-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand__icon {
    width: 33px;
    height: 33px;
    color: #143C3C
}

.lv1 {
    margin: 0 47px 0 121px;
}

.lv3 {
    margin: 0 64px 0 51px;

}

.lv4 {
    margin-right:
        63px;
}

.lv5 {
    display: flex;
    margin-right: 121px;
    ;
}

.brand__icon-lv3 {
    margin-right: 11px;
}

.brand__icon-lv5 {
    margin-right: 14px;
}

.brand__desc {
    color: var(--Primary-color-black-green, #143C3C);
    font-family: Poppins;
    font-size: 1.9rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.1995rem;
}

/* service */
.service {
    margin-top: 106px;
    padding-bottom: 8px;
}

.service-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.service-first__note {
    position: relative;
    padding-left: 46px;

}



.service-first__note::before {
    display: inline-block;
    content: "";
    position: absolute;
    background: var(--primary-color);
    width: 25px;
    height: 1px;
    left: 0;
    top: 6px;


}

.service-first__heading {
    position: relative;
    margin-top: 12px;
    max-width: 520px;

}

.service-first__heading::after {
    content: "";
    position: absolute;
    display: flex;
    width: 66px;
    height: 2px;
    right: 103px;
    bottom: 19px;
    background: var(--primary-color);
}



.wrap-button {
    display: flex;
    margin-left: 73px;
    gap: 15px;
}

.wrap-button__round {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: #E2EDDF;
}

.wrap-button__round:hover {
    background: #143C3C;
    color: #fff;
}

/* .wrap-button__active {
    background: #143C3C;
    color: #fff;
} */

.service-media {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    margin-top: 76px;
}

.service-row:hover {
    border-radius: 20px;
    background: #FFF;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    transform: scale(1.04);
    transition: .25s;
}

.service__img {
    width: 370px;
    height: 318px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;

}

.service-info {
    margin: 24px 0 23px 18px;
}

.service__heading {
    color: var(--primary-color);
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.2rem;
    font-family: 'poppins'
}

.service__desc {
    max-width: 268px;
    margin-top: 18px;
    color: #7D8188;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4rem;
    font-family: 'poppins';
}

/* introduce */
.introduce {
    display: flex;
    margin-top: 117.11px;
}

.introduce-content {
    display: flex;
    justify-content: space-between;
    gap: 64px;
}

.introduce__media {
    position: relative;
    padding-top: 31.89px;
    max-width: 51.7%;
    display: flex;
    gap: 21px;
}

.introduce__img {
    width: 284px;
    height: 480px;
    border-radius: 210px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
    object-fit: cover;
}

.introduce__img-01 {
    margin-top: 90px
}

.introduce__flower {
    position: absolute;
    left: 46px;
    top: -9px;
    z-index: 1;

}

.introduce__vector {
    position: absolute;
    left: 87px;
    top: 24px;

}

.introduce__content {
    width: 50%
}

.introduce-detail {
    position: absolute;

    width: 143px;
    height: 144px;
    bottom: 8px;
    right: -9px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.introduce-detail__heading {
    color: var(--Primary-color-black, #152427);
    font-family: "Public Sans";
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.4rem;
}

.introduce-detail__desc {
    color: #575D5E;
    font-family: "Public Sans";
    margin: 6px;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4rem;
}

.introduce-detail {
    padding: 19px 0 0 23px;
    ;
}

.introduce__dt {
    color: #152427;
    font-family: "Public Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4rem;
}

.introduce-detail__number {
    position: relative
}

.introduce-detail__number:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 96px;
    height: 2px;
    bottom: -3px;
    left: 0;
    border-radius: 10px;
    background: #EAEAEA;
}

.introduce-detail__number::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 2px;
    bottom: -3px;
    left: 0;
    border-radius: 10px;
    background: #83A17D;
    z-index: 1;
}

.introduce-detail__loading {
    display: flex;
    justify-content: flex-end;
    margin-top: 2px;
    margin-right: 22px;
}

/* .introduce-detail__icon {
    display: flex;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: var(--primary-color);
}

.introduce-detail__icon-2 {
    display: flex;
    width: 11px;
    height: 11px;
    border-radius: 11px;
    background: #EAEAEA;
} */

.introduce-detail__icon {
    display: flex;
    margin: 3px 0 5px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 3px solid #eaeaea;
    background: #143c3c;
}

.introduce-detail__wrap {
    display: flex;
    justify-content: space-between;
}

.introduce-detail__avatar {
    margin-right: 17px;
}

.introduce-detail__img {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: -6px;
    border-radius: 50%;
    border: 1px solid #FFF;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;

}

.introduce-detail__img:first-child {
    margin-left: 0
}

.introduce__content {
    margin-top: 19px;
}

.introduce__note {
    position: relative;
    padding-left: 46px;
    margin-bottom: 20px;
}

.introduce__note::before {
    display: flex;
    align-items: center;
    content: "";
    position: absolute;
    background: var(--primary-color);
    width: 25px;
    height: 1px;
    left: 0;
    bottom: 50%;
}

.introduce__desc {
    margin: 11px 0 36px;
    color: #7D8188;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.6rem;
}

.introduce__desc2 {
    max-width: 364px;
    color: #7D8188;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4rem;
}

.introduce__wrap-info {
    display: flex;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 38px;
}

.introduce__wrap-info::after {
    position: absolute;
    content: "";
    bottom: 0;
    width: 485px;
    height: 1px;
    background-color: #83A17D;
}

.introduce__number {
    margin-right: 24px;
    color: var(--primary-color);
    font-family: Poppins;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 5.2rem;
}

/* process */
.process {
    margin: 79px 0 148px
}

.process-content {
    position: relative;
}

.process__note {
    position: relative;

    padding-left: 53px
}

.process__note::before {
    display: flex;
    align-items: center;
    content: "";
    position: absolute;
    background: var(--primary-color);
    width: 25px;
    height: 1px;
    left: 7px;
    bottom: 50%;
}

.process__heading {
    position: relative;
    max-width: 477px;
    margin-top: 20px;
}

.process__heading::after {
    content: "";
    position: absolute;
    display: flex;
    width: 66px;
    height: 2px;
    right: -9px;
    bottom: 19px;
    background: var(--primary-color);
}

.process-wrap {
    display: flex;
    position: relative;
    align-items: center;
    width: 1140px;
    height: 185px;
    border-radius: 33px;
    background: #fff;
    transition: .25s;
    cursor: pointer;

}

.process-wrap:hover {
    background: #E2EDDF;

}



.process-wrap::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background: linear-gradient(180deg, #83A17D 4.17%, rgba(131, 161, 125, 0.00) 36.46%);
    bottom: 0;
}

.process-wrap:hover::after {
    opacity: 0;
    /* Làm mờ đường viền */
}


.process-wrap:hover+.process-wrap::after {
    opacity: 0;
    /* Làm mờ đường viền liền kề */
}

.process-wrap:nth-child(1) *:nth-child(2) {
    display: block;
    /* Đưa phần tử xuống dòng */
    width: 100%;
}

.process-wrap:first-child {
    margin-top: 81px;
}

.process__number {
    margin: 0 64px 0 30px;
    color: var(--primary-color);
    font-family: Poppins;
    font-size: 7.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 5.2rem;
}

.process__idea {
    color: #152427;
    font-family: Poppins;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.2rem;
}

.process-wrap2 {
    margin-top: 60px
}

.process__learn-more {
    display: block;
    padding: 22px 0 22px;
}

.process__learn-more-a {
    padding: 22px 0 22px;
    color: #575D5E;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8rem;
    text-decoration: underline
}

.process-project {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.process__desc {
    width: 53.77%;
    margin-right: 41px;
    margin-bottom: -23px;
    color: #7D8188;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.8rem
}

.process-image {
    position: absolute;
    top: -36px;
    right: 92px;
}

.process__img {
    width: 450px;
    height: 444px;
    object-fit: cover;
}

/* project */
.project {
    background: #143C3C;
}



.project-content {
    padding: 116px 0 63px;
    margin-bottom: 70px;
}

.project__heading {
    max-width: 457px;
    position: relative;
    color: #fff
}

.project__heading:after {
    content: "";
    position: absolute;
    display: flex;
    width: 66px;
    height: 2px;
    right: 103px;
    bottom: 25px;
    background: #83A17D;
    ;
}

.project-wrap {
    display: flex;
    justify-content: space-between;
}

.project-detail {
    max-width: 52%;
}

.project__desc {
    padding-top: 13px;
    color: #6A8383;

    font-family: "Public Sans";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.8rem;
}

.project-wrap2 {
    display: inline-block;
    margin-top: 13px;
}

.project__browse {

    color: #FFF;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.8rem
}

.project__arrow {
    margin-left: 26px;
    color: #80A07B;
}

.project-image {
    position: relative;
    margin-top: 72px;
}

.project__img {
    width: 1140px;
    height: 544px;
    object-fit: cover;
    border-radius: 22px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;


}


.project-play-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40%;
    height: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 118px;
    height: 118px;
    border-radius: 50%;
    background: #000000B2;
}

.project-play-btn:hover {
    background-color: black;
    color: #DDDCDC
}

.project__play {

    display: block;

    width: 36px;
    height: 36px;
    color: white;
}

.project__flower {
    position: absolute;
    top: -72px;
    right: -72px
}

.project__vector {
    position: absolute;
    top: -165px;
    right: -72px
}

/* feature */
.feature {
    padding: 70px 0 92px;
}

.feature__head {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature__heading {
    text-align: center;
    max-width: 520px;
}

.feature__desc {
    max-width: 547px;
    margin-top: 20px;
    color: #7D8188;
    text-align: center;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.6rem;
}

.feature__diverse {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 45px;


}

.feature-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 103px;
    width: 350px;
    height: 362px;
    border-radius: 160px;
    border: 1.5px solid #CECECE;
    transition: .3s;
    cursor: pointer;
}

.feature-block:hover {
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.20);
    transform: translateY(-59px);
}

.feature__img {
    margin: 80px 0 20px;
}

.feature__heading-block {
    color: #152427;
    font-family: Poppins;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2rem;
}

.feature__desc2 {
    max-width: 264px;
    margin-top: 9px;
    color: #7D8188;
    text-align: center;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.4rem;
}

.feature__desc2-block1 {
    max-width: 286px
}