* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    ;
}



/* common */


:root {
    --primary-color:
}

.container {
    width: 1140px;
    max-width: calc(100% - 58px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

/* header */
.header-fixed {
    background: #fff;
    position: sticky;
    top: -15px;
    z-index: 10;



}

.header-top {
    display: flex;
    position: relative;
    padding: 28px 0 13px;
    align-items: center;

}

.header-top::after {
    display: flex;
    position: absolute;
    content: "";
    width: 16px;
    height: 2px;
    ;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    background: var(--Primary-color-black-green, #143C3C);
}

.header-top::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 1140px;
    height: 1px;
    background: linear-gradient(90deg, #FFF 0%, #DDDCDC 51.09%, rgba(212, 212, 212, 0.00) 99.68%);
}

.logo {
    display: flex;
    align-items: center;

}

.logo__text {
    margin-left: 7px;
}



.navbar__list {
    display: flex;

    margin-left: 387px;
}

.navbar__link {
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.8rem;
    color: #575D5E;
}


.navbar__item {
    padding: 4px 19px;
}

.navbar__link:hover,
.navbar__link--active {
    color: black;
    text-shadow: 1px 0 0 currentColor;

}


.btn__signup {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 63px;
    padding: 0;
    width: 173px;
    height: 57px;
    border-radius: 40px;
    border: 1.5px solid #143C3C;
    background: #143C3C;
    color: white;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.8rem;
}

.btn__signup:hover {
    cursor: pointer;
    opacity: 0.9;
}

/* .btn__signup::after {
    content: "";
    position: absolute;
    display: inline-block;
    margin-bottom: -13px;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, #fff 0%, #dddcdc 51.09%, rgba(212, 212, 212, 0) 99.68%);
    bottom: 0;
    left: 0;
} */

/* hero */
.hero {
    display: flex;
    justify-content: space-between;

    /* padding: 28px 15px 0 0; */
}

.hero__inner {
    display: flex;
    position: relative;
    padding-bottom: 87.69px;
}

.hero__content {
    width: 43%;
    margin-top: 103px
}


.hero__heading {
    width: 368px;
    color: #152427;
    font-family: "Public Sans";
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;
}

.hero__desc {
    width: 341px;
    margin-top: 20px;
    color: #575D5E;
    font-family: "Public Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px
}

.hero-btn {
    display: flex;
    margin-top: 42px;
    gap: 36px;
}

.hero-btn__touch {

    width: 173px;
    height: 57px;
    border-radius: 40px;
    border: none;
    background: #143C3C;
    color: var(--text-color-white, #FFF);
    text-align: center;
    font-family: "Public Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    cursor: pointer;
}

.hero-btn__touch:hover {
    opacity: 0.9;
}

.hero-active {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 15px; */
}

.hero-active__play {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #83A17D;
    width: 44px;
    height: 44px;
    border-radius: 50%;


}

.hero-active__border {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    border: 4px solid;
    border-color: #143c3c transparent transparent #143c3c;
    transform: rotate(-45deg);
    transition: 0.25s;
    cursor: pointer;
}

.hero-active__border:hover {
    transform: rotate(-45deg);
}

.hero-active__play:hover {

    background: #143c3c;
}

.hero-active__desc {

    color: #152427;
    text-align: center;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;

}

.hero__media {
    width: calc(57% + 40px);
    margin-top: 60px;
    margin-right: 20px;

}

.hero__images {


    display: flex;
    gap: 20px;
}

.hero__img {
    width: 202px;
    height: 466px;

    object-fit: cover;
    border-radius: 110px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.hero__img-number2 {
    margin-top: 77px;
}

.vector {
    position: absolute;
}

.flower-top {
    top: 35.61px;
    left: 254.61px;
    transform: rotate(9.392deg);
    z-index: 1;
}

.vector-top {
    top: 27.93px;
    left: 297px;

}

.flower-bottom {
    bottom: 51.24px;
    right: 34.12px;
    z-index: 1;
}

.vector-bottom {
    right: 70.64px;
    bottom: 20px
}